<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styleStyle.css" />
  </head>
  <body>
    <h1 style="color: #ae6378">genre</h1>
    <div class="container">
      <form id="form-button-1" method="get">
        <button class="btn btn1" formaction="/basic">
          <span class="option">basic</span>
        </button>
        <button class="btn btn2" formaction="/genre">
          <span class="option">genre</span>
        </button>
        <button class="btn btn3" formaction="/misc">
          <span class="option">misc</span>
        </button>
        <button class="btn btn4 active" formaction="/box-office">
          <span class="option">box-office</span>
        </button>
        <button class="btn btn5" formaction="/trends">
          <span class="option">trends</span>
        </button>
        <button class="btn btn6" formaction="/recent">
          <span class="option">recent</span>
        </button>
      </form>
    </div>
    <div class="dropdown">
      <form id="dropdown-btn-1" method="get">
        <button class="dropbtn">Dropdown</button>
        <ul class="dropdown-content">
          <a href="/basic">
            <li class="dropdown-item">basic</li>
          </a>
          <a href="/genre">
            <li class="dropdown-item">genre</li>
          </a>
          <a href="/misc">
            <li class="dropdown-item">misc</li>
          </a>
          <a href="/box-office">
            <li class="dropdown-item">box-office</li>
          </a>
          <a href="/trends">
            <li class="dropdown-item">trends</li>
          </a>
          <a href="/recent">
            <li class="dropdown-item">recent</li>
          </a>
        </ul>
      </form>
    </div>
    <div class="charts">
      <div class="chart chart1">
        <div class="popover popover1">
          <div class="popover-text see-boundary">
            <p>
              Key insights: Runtime of average movies steady increase until year
              1960. Flat average runtimes after.
            </p>
          </div>
          <div class="chartInfo">
            <h4>Feature movie average runtime (mins)</h4>
            <button class="btn popover-btn">Info</button>
          </div>
        </div>
        <canvas id="chart1" class="chart-canvas"></canvas>
      </div>
      <div class="chart chart2">
        <div class="popover popover2">
          <div class="popover-text see-boundary">
            <p></p>
          </div>
          <div class="chartInfo">
            <h4>Average rating per genre movie</h4>
            <button class="btn popover-btn">Info</button>
          </div>
        </div>
        <canvas id="chart2" class="chart-canvas"></canvas>
      </div>
      <div class="chart chart3">
        <div class="popover popover3">
          <div class="popover-text see-boundary">
            <p></p>
          </div>
          <div class="chartInfo">
            <h4>Movies made per year</h4>
            <button class="btn popover-btn">Info</button>
          </div>
        </div>
        <canvas id="chart3" class="chart-canvas"></canvas>
      </div>
      <div class="chart chart4">
        <div class="popover popover4">
          <div class="popover-text see-boundary">
            <p></p>
          </div>
          <div class="chartInfo">
            <h4>Movies per year</h4>
            <button class="btn popover-btn">Info</button>
          </div>
        </div>
        <canvas id="chart4" class="chart-canvas"></canvas>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.2.0"></script>

    <script>
      // Register ChartDataLabel plugin
      // Chart.register(ChartDataLabels);
      // Define font for charts
      Chart.defaults.font.family = "'Outfit', sans-serif";

      const colorWheel = [
        "#003a7d",
        "#008dff",
        "#ff73b6",
        "#c701ff",
        "#4ecb8d",
        "#ff9d3a",
        "#f9e858",
        "#d83034",
      ];
      const infoButtons = document.querySelectorAll(".popover-btn");
      const infoBoxes = document.querySelectorAll(".popover-text");

      for (let i = 0; i < infoButtons.length; i++) {
        infoButtons[i].addEventListener("mouseenter", () => {
          infoBoxes[i].style.display = "block";
        });

        infoButtons[i].addEventListener("mouseleave", () => {
          infoBoxes[i].style.display = "none";
        });
      }

      const charts = document.querySelectorAll(".chart");

      const canvas1 = document.getElementById("chart1");
      const canvas2 = document.getElementById("chart2");
      const canvas3 = document.getElementById("chart3");
      const canvas4 = document.getElementById("chart4");

      async function loadCSV(path) {
        const response = await fetch(path);
        const text = await response.text();

        const rows = text.trim().split("\n");

        const headerRow = rows.shift();

        const titles = headerRow.replace(/"/g, "").split(",").slice(1);

        const labels = [];
        const data = [];

        rows.forEach((row) => {
          const [label, ...values] = row.replace(/"/g, "").split(",");
          labels.push(label);

          values.forEach((val, i) => {
            data[i] = [...(data[i] ?? []), Number(val)];
          });
        });

        return [labels, data, titles];
      }

      async function drawCharts() {
        const [labels1, data1, titles1] = await loadCSV("data/genre_roi.csv");
        const [labels2, data2, titles2] = await loadCSV("data/bud_rev.csv");
        // const [labels3, data3, title3] = await loadCSV(
        //   "data/common_combos.csv"
        // );

        try {
          const ctx1 = new Chart(canvas1, {
            type: "bar",
            data: {
              labels: labels1,
              datasets: [
                {
                  label: titles1[0],
                  data: data1[0],
                  borderWidth: 1,
                  backgroundColor: colorWheel,
                },
              ],
            },
            options: {
              aspectRatio: 0.8,
              scales: {
                x: {
                  beginAtZero: true,
                  ticks: {
                    display: true,
                    autoSkip: false,
                  },
                },
              },
            },
          });
        } catch (err) {
          return;
        }

        try {
          const ctx2 = new Chart(canvas2, {
            type: "line",
            data: {
              labels: labels2,
              datasets: [
                {
                  label: titles2[0],
                  data: data2[0],
                  fill: false,
                  borderColor: colorWheel[0],
                  tension: 0.1,
                },
                {
                  label: titles2[1],
                  data: data2[1],
                  fill: false,
                  borderColor: colorWheel[1],
                  tension: 0.1,
                },
              ],
            },
            options: {
              responsive: true,
            },
          });
        } catch (err) {
          return;
        }

        try {
          const ctx3 = new Chart(canvas3, {
            type: "bar",
            data: {
              labels: labels3,
              datasets: [
                {
                  label: title3,
                  data: data3,
                  borderWidth: 0,
                  backgroundColor: "#0099de",
                  borderColor: "#6fd2ff",
                },
              ],
            },
            options: {
              scales: {
                y: {},
              },
              aspectRatio: 1,
            },
          });
        } catch (err) {
          return;
        }
      }

      function checkChartsOnCanvases() {
        const canvasIds = ["chart1", "chart2", "chart3", "chart4"];
        canvasIds.forEach((id, index) => {
          const canvas = document.getElementById(id);
          const canvasDisplay = Chart.getChart(canvas);
          console.log(`Id: ${index}, ${Boolean(canvasDisplay)}`);
          if (!canvasDisplay) {
            charts[index].hidden = true;
            infoButtons[index].hidden = true;
          }
        });
      }

      document.addEventListener("DOMContentLoaded", async () => {
        await drawCharts();
        checkChartsOnCanvases();
      });
    </script>
  </body>
</html>
